@layout TailwindVariants.NET.Docs.Components.Layout.MainLayout
@inherits LayoutComponentBase

<Header />
<div class="max-w-7xl mx-auto flex">
	<Sidebar />
	<article class="flex-1">
		@Body
	</article>
</div>