@layout TailwindVariants.NET.Docs.Components.Layout.MainLayout
@inherits LayoutComponentBase

<Header Menu />
<div class="mx-auto flex max-w-7xl">
	<Sidebar />
	<article class="flex-1 overflow-y-auto">
		@Body
	</article>
</div>