@inherits TailwindComponentBase

<span class="@GetSlot(b => b.Base)">
	@ChildContent
</span>

@code
{
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public Colors Color { get; set; }

	[Parameter]
	public Sizes Size { get; set; } = Sizes.Medium;

	[Parameter]
	public Slots? Classes { get; set; }
}
