@attribute [DiscoverCollocatedJS]
@inject NavigationManager Navigation
@inject MarkdownRenderer MarkdownRenderer

@if (_content is null)
{
    <div class="flex h-full items-center justify-center">
        <div class="spinner-border inline-block h-8 w-8 animate-spin rounded-full border-4 text-gray-600" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
}
else
{
    <div class="prose prose-sm mx-auto px-4 py-8 md:prose md:max-w-4xl dark:prose-invert">
        @((MarkupString)_content)
    </div>
}

<JS For="this" />

@code 
{
    [Parameter]
    [EditorRequired]
    public string Filepath { get; set; }

    private string? _content;

    protected override async Task OnInitializedAsync()
    {
        var filepath = Path.Combine("wwwroot", "docs", Path.ChangeExtension(Filepath, ".md"));

        if (!File.Exists(filepath))
        {
            Navigation.NavigateTo("/404", true);
            return;
        }

        _content = await MarkdownRenderer.RenderAsync(filepath);        
    }
}
