@namespace TailwindVariants.NET.Tests.Components
@inherits TwComponentBase<Button, Button.Slots>

<button class="@_slots.GetBase()" type="@Type" @attributes="AdditionalAttributes">
	@ChildContent
</button>

@code 
{
	[Parameter] 
	public RenderFragment? ChildContent { get; set; }
	
	[Parameter] 
	public Variants Variant { get; set; }
	
	[Parameter] 
	public Sizes Size { get; set; }
	
	[Parameter] 
	public string Type { get; set; } = "button";
	
	[Parameter] 
	public bool FullWidth { get; set; }
	
	[Parameter] 
	public Slots? Classes { get; set; }
}
